{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block body %}

</br>

<h2 class="text-center">Données brutes - Capteurs Flod</h2>
{% if current_user %}
    <h3 class="text-center">Bonjour {{ current_user.first_name }} </h3>
  {% endif %}
</br>
</br>
<div class="container">
  <form name="contact-form" class="ui form" action="" method="post" id="getData">
    <div class="ui form" >
      <div class="four fields">
        <div class="field">
          <label>Choisissez un site</label>
          <select class="browser-default custom-select" name="siteDB" id="siteDB">
            <option value="" selected>Choisissez un site</option>

            {% for site in all_site %}
            <option value={{ site.site_id }}>{{ site.site }} </option>
            {% endfor %}

          </select>
        </div>
        <div class="field" id="equipmentField">
          <label>Choisissez un équipement associé</label>
          <select class="browser-default custom-select" name="equipment"  id="equipment">
            <option value="" selected>Choisissez un équipement associé</option>
            {% for equipment in all_equipment %}
            <option value={{ equipment.equipement_id }}>{{ equipment.equipement }} </option>
            {% endfor %}
          </select>
        </div>
        <div class="field">
          <label>Choisissez une date (optionnel)</label>
          <input type="text" name="daterange" placeholder="" />
        </div>
        <div class="my-2"></div>
        <button type="submit" id="submit" class="btn btn-info">Montrer les données</button>
      </div>
    </div>
  </form>
</div>
</br>
<div class="container">
  <div class="col">
    <div class="row-md-2 col-md-offset-4 text-center">
      <button id="exportData" type="button" class="btn btn-outline-info" onclick="window.open('/ControllerAccueil/downloadRawData?exportData=excel')">Exporter données (Excel)</button>
      <button id="exportData" type="button" class="btn btn-outline-info" onclick="window.open('/ControllerAccueil/downloadRawData?exportData=csv')">Exporter données (CSV)</button>
    </div>
  </div>
</div>
</br>


<!-- Container for displaying the chart data -->
<div id="chart-display-container" class="container">
</div>

<!-- Container for displaying the table data -->
<div class="container">
  <div id="resultcontainer"></div>
</div>
</br>
{% include "Homepage/tableData.html" %}
<!-- Container for displaying the map data -->
<div class="container">
  <div align="center" id="map" style="height:500px;"></div>
</div>
</br>

</br>

{% endblock %}

{% block script %}

<script>

var dateMax = "";
var dateMin = "";

$(document).on("click", "a.showAll", function(e) {
  e.preventDefault();
  var drawAll = true;
  // get the form data
  var formData = {
    'site_request'              : $(this).data('site'),
    'equipement_request'              : $(this).data('equipement'),
    'dateMin' : '',
    'dateMax' : '',
    'drawAll' : drawAll
  };
});


$(document).on("click", "a.download", function(e) {
  e.preventDefault();
  removeElement("container-chart");
  var drawAll = false;
  var id_sensor_request = $(this).data('idsensor');
  var type_msg_request = $(this).data('typemsg');
  var time_data_request = $(this).data('date');
  var site_request = $(this).data('site');
  var equipement_request = $(this).data('equipement');

  var formData = new FormData();
  formData.append('id_sensor_request',  id_sensor_request);
  formData.append('type_msg_request',  type_msg_request);
  formData.append('time_data_request',  time_data_request);
  formData.append('site_request',  site_request);
  formData.append('equipement_request',  equipement_request);
  formData.append('drawAll',  drawAll);
  // console.log(id_sensor_request);
  // console.log(type_msg_request);
  // console.log(time_data_request);
  // console.log(site_request);
  // console.log(equipement_request);
  xhttp1 = new XMLHttpRequest();
  xhttp1.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var data =  this.responseText;
      //console.log("DATA :", data);
      data = JSON.parse(data);
      //console.log("DATA RESULT INDIVIDUAL : ", data);
      addElement("chart-display-container", "div", "container-chart");
      addElement("container-chart", "div", "row-chart");
      addElement("row-chart", "canvas", "chart-specific");

      //$('#canvas').html(data);
      if (type_msg_request == "global"){
        drawTemperatureFromData(data,"chart-specific");
      }else if (type_msg_request == "inclinometre"){
        drawInclinometerFromData(data,"chart-specific");
      }else if (type_msg_request == "choc"){
        drawChocFromData(data,"chart-specific");
      }else if (type_msg_request == "spectre"){
        drawSubSpectreFromData(data,"chart-specific");
      }

    }
  };
  xhttp1.open("POST", "/ControllerAccueil/getAllCharts", true);
  xhttp1.send(formData);

});


$(document).ready(function(){

   
  var date = Date();
  fetchDataMap(showMap);



  $("#getData").submit(function(event) {
    event.preventDefault();
    if(!$('#siteDB option:selected').val()){
      alert("No site is selected");
      return;
    }
    if(!$('#equipment option:selected').val()){
      alert("No equipement is selected");
      return;
    }
    var drawAll = true;

    var formData = new FormData();
    formData.append('site_request',  $('#siteDB option:selected').val());
    formData.append('equipement_request',  $('#equipment option:selected').val());
    formData.append('dateMin',  dateMin);
    formData.append('dateMax',  dateMax);
    formData.append('drawAll',  drawAll);

    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var jsonData =  this.responseText;
        $('#resultcontainer').html(jsonData);
        // Call the dataTables jQuery plugin
          $('#tableData').DataTable({
          "destroy": true, //use for reinitialize datatable
          });
        $('.dataTables_length').addClass('bs-select');

        $('#dataTable').DataTable( {
          'lengthMenu': [[10, 25, 50, -1], [10, 25, 50, 'All']],
          'iDisplayLength': 50
        } );

      }
    };
    xhttp.open("POST", "/ControllerAccueil/getDataTableAfterSubmit", true);
    xhttp.send(formData);

    xhttp1 = new XMLHttpRequest();
    xhttp1.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var data =  this.responseText;
        //console.log("DATA :", data);
        data = JSON.parse(data);

        removeElement("container-chart");

        var temperature_data_json = data['temperature_data'];
        var choc_data_json = data['choc_data'];
        var inclinometre_data_json = data['inclinometre_data'];
        var spectre_data_json = data['spectre_data'];
        var numberOfSpectre = Object.keys(spectre_data_json).length;

        addElement("chart-display-container", "div", "container-chart");
        addElement("container-chart", "div", "row-chart");

        for (i = 0; i < numberOfSpectre; i++) {
          var name_canva = "canva_"+String(i);
          addElement("row-chart", "canvas", name_canva);
        }

        for (i = 0; i < numberOfSpectre; i++) {
          var name_canva = "canva_"+String(i);
          var name_spectre_data = "spectre_"+String(i);
          var spectre_i = spectre_data_json[name_spectre_data];
          drawSpectreFromData(spectre_i,name_canva);

        }

        addElement("row-chart", "canvas", "canvas_temperature");
        addElement("row-chart", "canvas", "canvas_inclinometre");
        drawTemperatureFromData(temperature_data_json,"canvas_temperature");

        drawInclinometerFromData(inclinometre_data_json,"canvas_inclinometre");
      }
    };
    xhttp1.open("POST", "/ControllerAccueil/getAllCharts", true);
    xhttp1.send(formData);
  });

  $( "#siteDB" ).change(function() {
    var formData = new FormData();
    formData.append('site_id', $( this ).children("option:selected").val());
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var response = this.responseText;
        //console.log(posts);
        $('#equipmentField').html(response);
      }
    };
    xhttp.open("POST", "/ControllerAccueil/changeEquipement");
    //Send the proper header information along with the request
    xhttp.send(formData);
  });


  $('input[name="daterange"]').daterangepicker({
    showDropdowns: true,
    locale: {
      format: 'DD-MM-YYYY'
    },
    opens: 'left',
    minDate: "{{min_date}}",
    maxDate:"{{max_date}}"
  }, function(start, end, label) {
    dateMin = start.format('YYYY-MM-DD');
    dateMax = end.format('YYYY-MM-DD');
  });

  $('#tableData').DataTable();
});


function fetchDataMap(functionToRun) {
  var xhttp;
  xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      var jsonData =  this.responseText;
      //console.log(jsonData);
      return functionToRun(jsonData);

    }
  };
  xhttp.open("GET", "/ControllerAccueil/loadDataMap", true);
  xhttp.send();
}


</script>

{% endblock %}
