{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<!-- Begin Page Content -->
<div class="container-fluid">

  {% if current_user %}
  <h3 class="text-center">Bonjour {{ current_user.first_name }} </h3>
  {% endif %}
  </br>
  
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Vue d'ensemble</h1>
  </div>
  <!-- Content Row -->
  <div class="row">
    <!-- Capteurs actifs Card  -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Capteurs actifs</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{nb_active_sensors}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-check-circle fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Capteurs inactifs Card  -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-danger shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Capteurs inactifs</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">{{nb_inactive_sensors}}</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-exclamation-circle fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Alertes Card  -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-warning shadow h-100 py-2">
        <a href="/alerts">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Alertes</div>
              <div class="row no-gutters align-items-center">
                <div class="col-auto">
                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{nb_active_alerts}}</div>
                </div>

              </div>
            </div>
            <div class="col-auto">
              <i class="fas fa-exclamation-triangle fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
        </a>
      </div>
    </div>

    <!-- Groupe Card  -->
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Company</div>
              <div class="h5 mb-0 font-weight-bold text-gray-800">RTE</div>
            </div>
            <div class="col-auto">
              <i class="fas fa-building fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  </br>

  {% include "Homepage/tableData.html" %}
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Carte des équipement</h6>
    </div>
    <div class="card-body">
      <!-- Container for displaying the map data -->
      <div class="container">
        <div align="center" id="map" style="height:500px;"></div>
      </div>
    </div>
  </div>

  </br>
</div>
{% endblock %}

{% block script %}

<script>
  $(document).on("click", "a.showAll", function (e) {
    e.preventDefault();
    var drawAll = true;
    // get the form data
    var formData = {
      'site_request': $(this).data('site'),
      'equipement_request': $(this).data('equipement'),
      'dateMin': '',
      'dateMax': '',
      'drawAll': drawAll
    };
  });


  $(document).on("click", "a.download", function (e) {
    e.preventDefault();
    removeElement("container-chart");
    var drawAll = false;
    var id_sensor_request = $(this).data('idsensor');
    var type_msg_request = $(this).data('typemsg');
    var time_data_request = $(this).data('date');
    var site_request = $(this).data('site');
    var equipement_request = $(this).data('equipement');

    var formData = new FormData();
    formData.append('id_sensor_request', id_sensor_request);
    formData.append('type_msg_request', type_msg_request);
    formData.append('time_data_request', time_data_request);
    formData.append('site_request', site_request);
    formData.append('equipement_request', equipement_request);
    formData.append('drawAll', drawAll);

    xhttp1 = new XMLHttpRequest();
    xhttp1.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        var data = this.responseText;
        //console.log("DATA :", data);
        data = JSON.parse(data);
        //console.log("DATA RESULT INDIVIDUAL : ", data);
        addElement("chart-display-container", "div", "container-chart");
        addElement("container-chart", "div", "row-chart");
        addElement("row-chart", "canvas", "chart-specific");

        //$('#canvas').html(data);
        if (type_msg_request == "global") {
          drawChartTemperatureFromData(data, "chart-specific");
        } else if (type_msg_request == "inclinometre") {
          drawChartInclinometerFromData(data, "chart-specific");
        } else if (type_msg_request == "choc") {
          drawChartChocFromData(data, "chart-specific");
        } else if (type_msg_request == "spectre") {
          drawChartSubSpectreFromData(data, "chart-specific");
        }

      }
    };
    xhttp1.open("POST", "/ControllerAccueil/getAllCharts", true);
    xhttp1.send(formData);

  });


  $(document).ready(function () {


    var date = Date();
    fetchDataMap(showMap);

    $('#tableData').DataTable({
      "createdRow": function (row, data, dataIndex) {
        var today = new Date();
        var yesterdayDate = (today.getDate() - 2) + '/' + (today.getMonth() + 1) + '/' + today.getFullYear();
        yesterdayDate = moment(yesterdayDate, "DD/MM/YYYY").format('DD/MM/YYYY');
        var date_row = moment(data[6], "DD/MM/YYYY").format('DD/MM/YYYY');
        console.log("date row :", date_row);
        console.log("Yesterday day :", yesterdayDate);
        
        if (date_row > yesterdayDate) {
          $(row).css({
            //green
            "background-color": "rgba(135, 254, 16, 0.15)"
          })
        } else {
          $(row).css({
            //Red
            "background-color": "rgba(254, 16, 16, 0.15)"
          })
        }
      },
      "lengthMenu": [
        [10, 25, 50, -1],
        [10, 25, 50, 'All']
      ],
      "iDisplayLength": 20
    });
  });


  function fetchDataMap(functionToRun) {
    var xhttp;
    xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
        var jsonData = this.responseText;
        //console.log(jsonData);
        return functionToRun(jsonData);

      }
    };
    xhttp.open("GET", "/ControllerAccueil/loadDataMap", true);
    xhttp.send();
  }
</script>

{% endblock %}