{# ViewTableDataSpecific.html #}

<div class="table-responsive">
  <table id="tableData" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <!--<table id="dataTable" class="display" style="width:100%">-->
    <thead>
      <tr>
        <th>Numéro capteur</th>
        <th>Type de message</th>
        <th>Reçu le</th>
        <th>site</th>
        <th>Equipement</th>
      </tr>
    </thead>
    <tbody>
      {% for row in all_specific_msg %}
      <tr>
        <td>{{ row.device_number }}</td>
        <td>{{ row.typeMessage }}</td>
        <td>{{ row.date_time }}</td>
        <td> {{ row.site }} </td>
        <td> {{ row.equipement }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</div>