App/Config.php
.vscode

theme-admin/**
public/vendor/**
core-ui-admin/**
stisla/**
tabler/**

public/logs/*
public/data/*
#Ignore node_module
node_modules/**

package-lock.json
composer.lock
node_modules
