App/Config.php
.vscode

theme-admin/**
public/vendor/**
core-ui-admin/**
stisla/**
tabler/**

public/data/*
#Ignore node_module
node_modules/**
logs/data_objenious.log

package-lock.json
composer.lock
node_modules
sendgrid.env
