{% extends 'baseLogin2.html' %}

{% block title %}Sign up{% endblock %}

{% block footer %}
<script src="public/js/app.js" ></script>
<script>

  $(document).ready(function() {

    /**
    * Validate the form
    */
    $('#formSignup').validate({
      rules: {
        name: 'required',
        email: {
          required: true,
          email: true,
          remote: '/ControllerAccount/validate-email'
        },
        password: {
          required: true,
          minlength: 6,
          validPassword: true
        },
        password_confirmation: {
          equalTo: '#inputPassword'
        }
      },
      messages: {
        email: {
          remote: 'email already taken'
        }
      }
    });
  });
</script>

{% endblock %}

{% block body %}

<div class="limiter">
  <div class="container-login100" style="background-image: url('../../public/ressources/bg-login2.jpg');">
    <div class="wrap-login100">
      <form class="login100-form validate-form" action="/ControllerRegistration/create" method="post" name="signupform"
        id="formSignup">
        {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }}">
          {{ message.body }}
        </div>
        {% endfor %}
        <fieldset>
          <div class="logo-row">
            <img class="logo" src="
                            ../../public/ressources/sentive-logo.png">
          </div>
          <span class="login100-form-title p-b-30 p-t-27">
            Inscription
          </span>

          

          <div class="wrap-input100 validate-input" data-validate="Ecrivez votre prénom">
            <input class="input100" type="text" id="inputPrenom" name="firstname" placeholder="Prenom" required
              autofocus />
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Ecrivez votre nom">
            <input class="input100" type="text" id="inputName" name="name" placeholder="Nom" required
              autofocus />
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Ecrivez votre pseudo">
            <input class="input100" type="text" id="username" name="username" placeholder="Pseudo" required
              autofocus />
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
          </div>

          <div class="wrap-input100 validate-input" data-validate="Ecrivez votre mail">
            <input class="input100" type="email" name="email" id="inputEmail" placeholder="Email" required autofocus
              value="{{email}}">
            <span class="focus-input100" data-placeholder="&#xf207;"></span>
          </div>

            <div class="wrap-input100 validate-input" data-validate="Mot de passe">
              <input class="input100" type="password" name="password" id="inputPassword" placeholder="Mot de passe"
                required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$" title="Minimum 6 chars, at least one letter and
                number">
              <span class="focus-input100" data-placeholder="&#xf191;"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Confirmer le mot de passe">
              <input class="input100" type="password" name="cpassword" id="confirmPassword" placeholder="Confirmez le mot de passe"
                required>
              <span class="focus-input100" data-placeholder="&#xf191;"></span>
            </div>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              S'enregistrer
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div id="dropDownSelect1"></div>


{% endblock %}
