/**
Alert
**/

td.details-control {
    background: url('../ressources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('../ressources/details_close.png') no-repeat center center;
}

.alert {
  border: 1px solid #ccc;
  padding: 6px;
}
.alert-info {
  background-color: #d9edf7;
}
.alert-success {
  background-color: #dff0d8;
}
.alert-warning {
  background-color: #fcf8e3;
}
.alert-ok {
  background-color: #D1ECF1;
}
.alert-danger {
  background-color: #FADDDD;
}
