<!-- Bootstrap core CSS -->
<link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="public/vendor/bootstrap-daterangepicker/css/daterangepicker.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css" rel="stylesheet"
    type="text/css">
<link rel="stylesheet" href="https://www.visualcrossing.com/widgets/forecast/weather-forecast-widget-d3.css">

<!-- Date range picker core CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

<link href="public/vendor/lightbox/dist/css/lightbox.min.css" rel="stylesheet" />

<link rel="stylesheet" href="public/css/style.css">

<!-- Custom fonts for this template-->
<link href="public/vendor/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
<link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

<!-- Custom styles for this template-->
<link href="public/css/sentive-admin.min.css" rel="stylesheet">