<section class="resultsTables card">
    <div class="card-body">
        <h3 class="card-title">TimeSeries Data</h3>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>FKNetworkID</th>
                    <th>ValueX</th>
                    <th>ValueY</th>
                    <th>datetime</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>FKNetworkID</th>
                    <th>ValueX</th>
                    <th>ValueY</th>
                    <th>datetime</th>
                </tr>
            </tfoot>
        </table>
    </div>
</section>