{% extends 'base.html' %}

{% block title %}Chocs données{% endblock %}

{% block body %}

<div class="container-fluid">

    <!-- start form search choc -->
    {% include "Chocs/viewFormSearch.html" %}
    <!-- end  form search choc -->

    <!-- charts visualization -->
    <div class="row">
        <div class="col-md-12">
            <div class="chart-area">
                <canvas id="canvas_choc_nb_hour"></canvas>
            </div>
        </div>
    </div>

    <!-- charts visualization -->
    <div id="containerCharts">
        <div id="containerResultsCharts">
        </div>
    </div>

    <!-- End charts visualization -->

    <!-- start activities chocs datatable -->
    {% include "Chocs/viewTableDataChocs.html" %}
    <!-- end  activities chocs datatable -->


</div>

{% endblock %}

{% block script %}

<script>
    let startDate = "";
    let endDate = "";
    let diffDays = "";

    $(document).ready(function () {

        var date = Date();
        init_daterangepicker();
        initChocDatatable();

        //Load choc
        let chocDataPerHour = '{{ chocDatatoRequest|raw}}';
        //console.log("chocDataPerHour", chocDataPerHour);

        //drawChartNbChocPerHour(chocDataPerHour, canvaID = "canvas_choc_nb_hour");

        // When the user select a site, the equipement associated is displayed
        $("#siteID").change(function () {
            var formData = new FormData();
            formData.append('site_id', $(this).children("option:selected").val());
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = this.responseText;
                    //console.log(posts);
                    $('#equipmentField').html(response);
                }
            };
            xhttp.open("POST", "/ControllerData/changeEquipement");
            //Send the proper header information along with the request
            xhttp.send(formData);
        });


        //AJAX
        var formData = new FormData();
        formData.append('siteID', 26);
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var jsonData = this.responseText;
            }
        };
        xhttp.open("POST", "", true);
        xhttp.send(formData);

    });

    //When the user want to change the date for displaying the chart concerning the number of choc
    // per day
    // Day, week or month
    $(document).on("click", "#radioButtonNbChoc", function (e) {
        e.preventDefault();

        var deveui = $(this).parent('div').attr('id');
        var radioValueTime = $("input[name='options']:checked").val();
        var formData = new FormData();
        formData.append('time_data', radioValueTime);
        formData.append('deveui', deveui);

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = this.responseText;
                //console.log("xhttp.onreadystatechange -> response", response);
                var nameCanvas = "canvas_equipement_nbchoc_" + deveui;
                var nameChartAreaCanvas = "chart_area_nbchoc_id_" + deveui;
                removeElement(nameCanvas);
                addElement(nameChartAreaCanvas, "canvas", nameCanvas);
                drawChartNbChocPerDate(response, nameCanvas);

            }
        };
        xhttp.open("POST", "/ControllerChocData/getChartChocFrequencies");
        xhttp.send(formData);
    });

    //When the user want to change the date for displaying the chart concerning the power of choc
    // Day, week or month
    $(document).on("click", "#radioButtonPowerChoc", function (e) {
        e.preventDefault();

        var deveui = $(this).parent('div').attr('id');
        var radioValueTime = $("input[name='options']:checked").val();

        var formData = new FormData();
        formData.append('time_data', radioValueTime);
        formData.append('deveui', deveui);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = this.responseText;
                //console.log("xhttp.onreadystatechange -> response", response);

                var nameCanvas = "canvas_equipement_powerchoc_" + deveui;
                var nameChartAreaCanvas = "chart_area_powerchoc_id_" + deveui;
                removeElement(nameCanvas);
                addElement(nameChartAreaCanvas, "canvas", nameCanvas);
                drawChartPowerChocPerDateBar(response, nameCanvas);
            }
        };
        xhttp.open("POST", "/ControllerChocData/getChartPowerChocFrequencies");
        xhttp.send(formData);
    });


    //When the user want to retrieve the data after submitting the form
    $(document).on('submit', '#equipementrequest', function (event) {
        event.preventDefault();

        if (!$('#siteID option:selected').val()) {
            alert("No site is selected");
            return;
        }


        var formData = new FormData();
        //TODO the form used here is the one from Homepage - becareful and change later
        formData.append('siteID', $('#siteID option:selected').val());
        formData.append('deveui', $('#equipmentField option:selected').val());
        formData.append('startDate', startDate);
        formData.append('endDate', endDate);
        formData.append('diffDays', diffDays);

        console.log("Site selected :", $('#siteID option:selected').val());
        console.log("Deveui selected :", $('#equipmentField option:selected').val());
        console.log("Start date form :", startDate);
        console.log("End date form :", endDate);
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var jsonData = this.responseText;
                //console.log("Refresh data : ", jsonData);
                removeElementAndChilds("containerTableDataChoc");
                removeElementAndChilds("containerResultsCharts");
                addElement("containerCharts", "div", "containerResultsCharts");
                $('#containerResultsCharts').html(jsonData);
            }
        };
        xhttp.open("POST", "/ControllerChocData/getResultsFromChocForm", false);
        xhttp.send(formData);

        //Charts
        xhttp1 = new XMLHttpRequest();
        xhttp1.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var choc_data = this.responseText;
                choc_data = JSON.parse(choc_data);
                //console.log("xhttp1.onreadystatechange -> choc_data", choc_data);
                for (var i = 0; i < Object.keys(choc_data).length; i++) {


                    var name_data = "equipement_" + i;
                    var name_canvas_nbchoc = "canvas_equipement_nbchoc_" + choc_data[name_data][
                        'deveui'
                    ];
                    var name_canvas_powerchoc = "canvas_equipement_powerchoc_" + choc_data[name_data][

                        'deveui'
                    ];
                    //console.log(choc_data[name_data]['nb_choc_per_day'])
                    drawChartNbChocPerDate(choc_data[name_data]['nb_choc_per_day'], name_canvas_nbchoc);
                    drawChartPowerChocPerDateBar(choc_data[name_data]['power_choc_per_day'], name_canvas_powerchoc);


                }
            }
        };
        xhttp1.open("POST", "/ControllerChocData/getChartsChoc", false);
        xhttp1.send(formData);

    });

    function initChocDatatable() {

        $('#tableDataChoc').DataTable({
            "createdRow": function (row, data, dataIndex) {
            },
            "order": [[7, "desc"]],
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, 'All']
            ],
            "iDisplayLength": 20
        });


    }
    function init_daterangepicker() {
        moment.locale('fr');
        if (typeof ($.fn.daterangepicker) === 'undefined') {
            return;
        }

        var cb = function (start, end, label) {
            //console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrange span').html(start.format('L') + ' - ' + end.format('L'));
        };

        var optionSet = {
            minDate: '09/01/2019',
            maxDate: moment(),
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
                'Aucune Date': ['09/01/2019', moment()],
                'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Dernier 7 jours': [moment().subtract(6, 'days'), moment()],
                'Dernier 30 Jours': [moment().subtract(29, 'days'), moment()],
                'Ce mois': [moment().startOf('month'), moment().endOf('month')]
            },
            opens: 'left',
            buttonClasses: ['btn btn-default'],
            applyClass: 'btn-small btn-primary',
            cancelClass: 'btn-small',
            format: 'DD/MM/YYYY',
            separator: ' à ',
            locale: {
                applyLabel: 'Appliquer',
                cancelLabel: 'Annuler',
                fromLabel: 'De',
                toLabel: 'à',
                customRangeLabel: 'Specifique',
                daysOfWeek: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'juin', 'Juillet', 'Août',
                    'Septembre', 'Octobre', 'Novembre', 'Décembre'
                ],
                firstDay: 1
            }
        }

        $('#reportrange').daterangepicker(optionSet, cb);

        $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
            startDate = picker.startDate.format('DD/MM/YYYY');
            endDate = picker.endDate.format('DD/MM/YYYY');;
            let diffDays = picker.endDate.diff(picker.startDate, 'days');
            console.log("start/end dates are " + startDate + " to " + endDate);

            console.log(`Difference in days: ${diffDays}`);
        });
        $('#reportrange').on('cancel.daterangepicker', function (ev, picker) {
            startDate = '';
            endDate = '';
            $('#reportrange span').html(startDate + ' - ' + endDate);
        });


    };
</script>

{% endblock %}