{% extends 'base.html' %}

{% block title %}Chocs données{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="card mb-4 border-bottom-primary">
        <div class="card-header">
            Chocs
        </div>
        <div class="card-body">
            <div class="container">
                <form role="form" method="post" name="equipementrequest" id="equipementrequest">
                    <div class="ui form">
                        <div class="four fields">
                            <div class="field" id="siteField">
                                <div class="text-s font-weight-bold text-primary mb-1">Choisissez un site</div>
                                <select class="browser-default custom-select" name="siteID" id="siteID">
                                    <option value="" selected>Choisissez un site</option>
                                    {% for site in all_site %}
                                    <option value={{ site.site_id }}>{{ site.site }} </option>
                                    {% endfor %}

                                </select>
                            </div>
                            <div class="field" id="equipmentField">
                                <div class="text-s font-weight-bold text-primary mb-1">Choisissez un équipement
                                    associé
                                </div>
                                <select class="browser-default custom-select" name="structure" id="structureID">
                                    <option value="" selected>Choisissez un équipement associé</option>
                                    {% for equipment in all_equipment %}
                                    <option value={{ equipment.equipement_id }}>{{ equipment.equipement }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="field">
                                <div class="text-s font-weight-bold text-primary mb-1">Choisissez une date
                                    (optionnel)
                                </div>
                                <input type="text" name="daterange" placeholder="" />
                            </div>
                            <div class="my-2"></div>
                            <button type="submit" id="submit" class="btn btn-info">Montrer les données</button>
                        </div>
                    </div>
                </form>
            </div>
            </br>
            <!-- Page Heading -->

        </div>
    </div>

    {% include "Chocs/tableDataChocs.html" %}
    <div id="containerCharts">
        <div id="containerResultsCharts">
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    var dateMax = "";
    var dateMin = "";

    $(document).ready(function () {
        init_daterangepicker();
        
        var date = Date();
        // When the user select a site, the equipement associated is displayed
        $("#siteID").change(function () {
            var formData = new FormData();
            formData.append('site_id', $(this).children("option:selected").val());
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var response = this.responseText;
                    //console.log(posts);
                    $('#equipmentField').html(response);
                }
            };
            xhttp.open("POST", "/ControllerAccueil/changeEquipement");
            //Send the proper header information along with the request
            xhttp.send(formData);
        });

        $('input[name="daterange"]').daterangepicker({
            showDropdowns: true,
            locale: {
                format: 'DD-MM-YYYY'
            },
            opens: 'left',
            minDate: "{{min_date}}",
            maxDate: "{{max_date}}"
        }, function (start, end, label) {
            dateMin = start.format('YYYY-MM-DD');
            dateMax = end.format('YYYY-MM-DD');
        });

        $('#tableDataChoc').DataTable({
            "createdRow": function (row, data, dataIndex) {

            },
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, 'All']
            ],
            "iDisplayLength": 20
        });
        var formData = new FormData();
        formData.append('siteID', 26);
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var jsonData = this.responseText;
            }
        };
        xhttp.open("POST", "", true);
        xhttp.send(formData);

    });

    //When the user want to change the date for displaying the chart concerning the number of choc
    // per day
    // Day, week or month
    $(document).on("click", "#radioButtonNbChoc", function (e) {
        e.preventDefault();

        var equipementID = $(this).parent('div').attr('id');
        var radioValueTime = $("input[name='options']:checked").val();
        var formData = new FormData();
        formData.append('time_data', radioValueTime);
        formData.append('equipementID', equipementID);

        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = this.responseText;
                var nameCanvas = "canvas_equipement_nbchoc_" + equipementID;
                var nameChartAreaCanvas = "chart_area_nbchoc_id_" + equipementID;
                removeElement(nameCanvas);
                addElement(nameChartAreaCanvas, "canvas", nameCanvas);
                drawChartNbChocPerDate(response, nameCanvas);

            }
        };
        xhttp.open("POST", "/ControllerData/getChartChocFrequencies");
        xhttp.send(formData);
    });

    //When the user want to change the date for displaying the chart concerning the power of choc
    // Day, week or month
    $(document).on("click", "#radioButtonPowerChoc", function (e) {
        e.preventDefault();

        var equipementID = $(this).parent('div').attr('id');
        var radioValueTime = $("input[name='options']:checked").val();

        var formData = new FormData();
        formData.append('time_data', radioValueTime);
        formData.append('equipementID', equipementID);
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var response = this.responseText;
                var nameCanvas = "canvas_equipement_powerchoc_" + equipementID;
                var nameChartAreaCanvas = "chart_area_powerchoc_id_" + equipementID;
                removeElement(nameCanvas);
                addElement(nameChartAreaCanvas, "canvas", nameCanvas);
                drawChartPowerChocPerDateBar(response, nameCanvas);
            }
        };
        xhttp.open("POST", "/ControllerData/getChartPowerChocFrequencies");
        xhttp.send(formData);
    });




    //When the user want to retrieve the data after submitting the form
    $(document).on('submit', '#equipementrequest', function (event) {
        event.preventDefault();

        if (!$('#siteID option:selected').val()) {
            alert("No site is selected");
            return;
        }


        var formData = new FormData();
        //TODO the form used here is the one from Homepage - becareful and change later
        formData.append('siteID', $('#siteID option:selected').val());
        formData.append('equipmentID', $('#equipment option:selected').val());

        console.log("Site selected :", $('#siteID option:selected').val());
        console.log("Equipement selected :", $('#equipment option:selected').val());

        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var jsonData = this.responseText;
                //console.log("Refresh data : ",jsonData);
                removeElementAndChilds("containerTableDataChoc");
                removeElementAndChilds("containerResultsCharts");
                addElement("containerCharts", "div", "containerResultsCharts");
                $('#containerResultsCharts').html(jsonData);
            }
        };
        xhttp.open("POST", "/ControllerData/getResultsFromChocForm", false);
        xhttp.send(formData);


        xhttp1 = new XMLHttpRequest();
        xhttp1.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var choc_data = this.responseText;
                choc_data = JSON.parse(choc_data);
                console.log("Choc data chart : ",choc_data);
                for (var i = 0; i < Object.keys(choc_data).length; i++) {

                    var name_data = "equipement_" + i;
                    var name_canvas_nbchoc = "canvas_equipement_nbchoc_" + choc_data[name_data][
                        'equipementId'
                    ];
                    var name_canvas_powerchoc = "canvas_equipement_powerchoc_" + choc_data[name_data][
                        'equipementId'
                    ];
                    var name_canvas_angle = "canvas_equipement_angle_" + choc_data[name_data][
                        'equipementId'
                    ];
                    //console.log("Length array nb choc : ",choc_data[name_data]['nb_choc_per_day'].length );
                    if (choc_data[name_data]['nb_choc_per_day'].length > 0) {
                        drawChartNbChocPerDate(choc_data[name_data]['nb_choc_per_day'], name_canvas_nbchoc);
                    }
                    if (choc_data[name_data]['power_choc_per_day'].length > 0) {
                        drawChartPowerChocPerDateBar(choc_data[name_data]['power_choc_per_day'],
                            name_canvas_powerchoc);
                    }

                    drawChartAngleXYZFromData(choc_data[name_data]['angleXYZ_per_day'], name_canvas_angle);
                }
            }
        };
        xhttp1.open("POST", "/ControllerData/getChartsChoc", false);
        xhttp1.send(formData);
    });

    function init_daterangepicker() {
            moment.locale('fr');
            if (typeof ($.fn.daterangepicker) === 'undefined') {
                return;
            }

            var cb = function (start, end, label) {
                //console.log(start.toISOString(), end.toISOString(), label);
                $('#reportrange span').html(start.format('LL') + ' - ' + end.format('LL'));
            };

            var optionSet = {
                startDate: moment().subtract(29, 'days'),
                endDate: moment(),
                minDate: '01/01/2012',
                maxDate: moment().format('DD/MM/YYYY'),
                dateLimit: {
                    days: 60
                },
                showDropdowns: true,
                showWeekNumbers: true,
                timePicker: false,
                timePickerIncrement: 1,
                timePicker12Hour: true,
                ranges: {
                    'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Dernier 7 jours': [moment().subtract(6, 'days'), moment()],
                    'Dernier 30 Jours': [moment().subtract(29, 'days'), moment()],
                    'Ce mois': [moment().startOf('month'), moment().endOf('month')]
                },
                opens: 'left',
                buttonClasses: ['btn btn-default'],
                applyClass: 'btn-small btn-primary',
                cancelClass: 'btn-small',
                format: 'DD/MM/YYYY',
                separator: ' à ',
                locale: {
                    applyLabel: 'Appliquer',
                    cancelLabel: 'Annuler',
                    fromLabel: 'De',
                    toLabel: 'à',
                    customRangeLabel: 'Specifique',
                    daysOfWeek: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
                    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'juin', 'Juillet', 'Août',
                        'Septembre', 'Octobre', 'Novembre', 'Décembre'
                    ],
                    firstDay: 1
                }
            }

            $('#reportrange').daterangepicker(optionSet, cb);

            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {
                let startDate = picker.startDate;
                let endDate = picker.endDate;
                let diffDays = picker.endDate.diff(picker.startDate, 'days');
                console.log("start/end dates are " + startDate.format(
                    'L') + " to " + endDate.format('L'));
                   
                console.log(`Difference in days: ${diffDays}`);
                console.log(ev);
                console.log(picker);
            });
    

        };

</script>

{% endblock %}