<div class="list-group">
    {% if all_structure_data is not empty %}
    <ul>
        {% for key, val in all_structure_data  %}
        <!-- <pre>{{ dump(key) }}</pre> -->
        {% set canvas_id_nbchoc = 'canvas_equipement_nbchoc_'~val.equipementId %}
        {% set canvas_id_powerchoc = 'canvas_equipement_powerchoc_'~val.equipementId %}
        {% set canvas_id_angle= 'canvas_equipement_angle_'~val.equipementId %}
        {% set chart_area_id_nbchoc = 'chart_area_nbchoc_id_'~val.equipementId %}
        {% set chart_area_id_powerchoc = 'chart_area_powerchoc_id_'~val.equipementId %}
        {% set chart_area_id_angle = 'chart_area_angle_id_'~val.equipementId %}

        <!-- /.row-->
        <div class="card">
            <div class="card-body">
                <span id="period">Période du {{ val.startDate }} au {{ val.endDate }}</span>
                <div class="d-flex justify-content-between">
                    <div>
                        <h4 class="card-title mb-0">{{ val.equipement }} | {{ val.ligneHT }} | Capteur n°
                            {{val.device_number}} | ID : {{val.sensor_id}}</h4>
                        <div class="small text-muted">Dernière activité : {{val.lastDate}}</div>
                    </div>
                </div>
                <!-- Content Row -->
                <div class="row">
                    <!-- Capteurs actifs Card  -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Statut
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{val.status}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Capteurs inactifs Card  -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Nombre
                                            de choc reçu aujourd'hui
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{val.nb_choc_received_today}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Alertes Card  -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Puissance du dernier choc</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    {{val.lastChocPower}} g
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Groupe Card  -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Dernière température enregistrée</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{val.temperature}} °C
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <!-- Nombre de choc par jour Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex justify-content-center">
                        <h6 class="m-0 font-weight-bold text-primary">Nombre de choc par jour</h6>
                        <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
                            <div id="{{val.equipementId}}">
                                <div id="radioButtonNbChoc" class="btn-group btn-group-toggle mx-3"
                                    data-toggle="buttons">
                                    <label class="btn btn-outline-secondary active">
                                        <input id="option1" type="radio" name="options" value="day" autocomplete="off"
                                            checked=""> Jour
                                    </label>
                                    <label class="btn btn-outline-secondary ">
                                        <input id="option2" type="radio" name="options" autocomplete="off" value="week">
                                        Semaine
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input id="option3" type="radio" name="options" autocomplete="off"
                                            value="month"> Mois
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <div id="{{ chart_area_id_nbchoc }}" class="chart-area">
                                    <canvas id="{{ canvas_id_nbchoc }}" width="400" height="400"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Puissance de choc par jour Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Puissance de choc
                            par jour</h6>
                        <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
                            <div id="{{val.equipementId}}">
                                <div id="radioButtonPowerChoc" class="btn-group btn-group-toggle mx-3"
                                    data-toggle="buttons">
                                    <label class="btn btn-outline-secondary active">
                                        <input id="option1" type="radio" name="options" value="day" autocomplete="off">
                                        Jour
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input id="option2" type="radio" name="options" autocomplete="off" value="week"
                                            checked="">
                                        Semaine
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input id="option3" type="radio" name="options" autocomplete="off"
                                            value="month"> Mois
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <div id="{{chart_area_id_powerchoc}}" class="chart-area">
                            <canvas id="{{ canvas_id_powerchoc }}" width="400" height="400"></canvas>
                        </div>
                        <hr>
                    </div>


                </div>


                <!-- Variation inclinometre Chart -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Variation
                            inclinometre</h6>
                        <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
                            <div id="{{val.equipementId}}">
                                <div id="radioButtonNbChoc" class="btn-group btn-group-toggle mx-3"
                                    data-toggle="buttons">
                                    <label class="btn btn-outline-secondary active">
                                        <input id="option1" type="radio" name="options" value="day" autocomplete="off"
                                            checked="">
                                        Jour
                                    </label>
                                    <label class="btn btn-outline-secondary ">
                                        <input id="option2" type="radio" name="options" autocomplete="off" value="week">
                                        Semaine
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input id="option3" type="radio" name="options" autocomplete="off"
                                            value="month"> Mois
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="{{chart_area_id_angle}}">
                            <canvas id="{{canvas_id_angle}}"></canvas>
                        </div>
                        <hr>
                    </div>
                </div>


            </div>
        </div>
        {% endfor %}
    </ul>
    {% endif %}
</div>