{% extends 'base.html' %}

{% block title %}Presentation donnée{% endblock %}

{% block body %}

</br>

<br>
<hr class="style1">
<br>

<div class="container">
  <form role="form"  method="post" name="equipementrequest" id="equipementrequest">
    <div class="field">
      <label>Choisissez un site</label>
      <select class="browser-default custom-select" name="siteID" id="siteID">
        <option value="" selected>Choisissez un site</option>
        {% for site in all_site %}
        <option value={{ site.site_id }} >{{ site.site }}  </option>
        {% endfor %}

      </select>
    </div>
    <button type="submit" id="submit" class="btn">Montrer les structures</button>
  </form>
</div>
<div id="containerTab">
  <div id="resultcontainer">
    <div class="list-group">
      {% if all_structure_data is not empty %}
      <ul>
        {% for key,val in all_structure_data  %}
        <!--<pre>{{ dump(val) }}</pre>-->
        <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ val.equipement }} | {{ val.ligneHT }}</h5>
            <small class="text-muted">{{val.lastDate}}</small>
          </div>
          <div class="row">
            <div class="column">
              <div class="card card-1">
                <h3>Score</h3>
                <p><b>{{val.lastScore}}</b></p>
              </div>
            </div>

            <div class="column">
              <div class="card card-3 ">
                <h3>Situation</h3>
                <p><b>{{all_score.predicted_maintenance}}</b></p>
              </div>
            </div>

            <div class="column">
              <div class="card card-2">
                <h3>Température</h3>
                <p><b>{{val.temperature}} °C </b></p>
              </div>
            </div>

            <div class="column">
              <div class="card card-4">
                <h3>Choc</h3>
                <p><b>{{val.lastChocPower}} W</b></p>
              </div>
            </div>
          </div>
          <p class="mb-1">Voir l'ensemble des données</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </a>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}

{% block script %}
<script>

  $(document).ready(function(){

    $("#equipementrequest").submit(function(event) {
      event.preventDefault();

      if(!$('#siteID option:selected').val()){
        alert("No site is selected");
        return;
      }

      var formData = new FormData();
      formData.append('siteID',  $('#siteID option:selected').val());

      xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
          var jsonData =  this.responseText;
          removeElement("resultcontainer");
          addElement("containerTab", "div", "resultcontainer");
          $('#resultcontainer').html(jsonData);
        }
      };
      xhttp.open("POST", "/ControllerData/refreshData", true);
      xhttp.send(formData);
    });

  });




</script>

{% endblock %}
