<div class="list-group">
  {% if all_structure_data is not empty %}
  <ul>
    {% for key,val in all_structure_data  %}
    <!-- <pre>{{ dump(key) }}</pre> -->
    {% set canvas_id = 'canvas_'~key %}
    {% set canvas_id_bis = 'canvas_bis_'~key %}
    <!-- <pre>{{ dump(canvaid) }}</pre>  -->
    <a href="#!" class="list-group-item list-group-item-action flex-column align-items-start">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ val.equipement }} | {{ val.ligneHT }}</h5>
        <small class="text-muted">{{val.lastDate}}</small>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card card-1">
            <h3>Nombre choc aujourd'hui</h3>
            <p><b>{{val.nb_choc_received_today}}</b></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card card-3 ">
            <h3>Puissance du choc aujourd'hui</h3>
            <p><b>{{val.lastChocPower}} W</b></p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="card card-2">
            <h3>Température</h3>
            <p><b>{{val.temperature}} °C </b></p>
          </div>
        </div>

        <div class="column">
          <div class="card card-4">
            <h3>Label inclinometre</h3>
            <p><b> OK </b></p>
          </div>
        </div>
      </div>
      <p class="mb-1">Voir l'ensemble des données</p>
      <small class="text-muted">Donec id elit non mi porta.</small>
    </a>
    <div class="container">
      <!-- 2 columns -->
      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-sm-4">
            <div class="card card-1">
              <h3>Score</h3>
              <p><b>{{val.lastScore}}</b></p>
            </div>
          </div>
          <div class="col-xs-12 col-sm-8">
            <canvas id="{{ canvas_id }}" width="400" height="400"></canvas>
            <canvas id="{{ canvas_id_bis }}" width="400" height="400"></canvas>
          </div>
          <div class="col-xs-12 col-sm-8">

          </div>

        </div>

      </div>
    </div>
</div>

{% endfor %}
</ul>
{% endif %}
</div>