{% extends 'base.html' %}

{% block title %}Capteurs{% endblock %}

{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Capteurs</h1>
  </div>
    <form class="card">
        <div class="card-body">
            <h3 class="card-title">Gestion des capteurs</h3>

        </div>
    </form>


</div>

{% endblock %}

{% block script %}

<script>

</script>

{% endblock %}