{% extends 'base.html' %}

{% block title %}Capteurs informations{% endblock %}

{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="row">
            <div class="col">
                <h1 class="h3 mb-0 text-gray-800">Capteur {{infoArr.device_number}}</h1>
            </div>
        </div>

    </div>

    <div class="card">
        <!-- Widget sensors -->
        <div class="card-body">
            <h3 class="card-title">Information</h3>
            <div class="d-flex justify-content-between">
                <div>
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title mb-0">{{ infoArr.site }} | {{ infoArr.equipement }} |
                                {{ infoArr.ligneHT }} | Capteur n°
                                {{infoArr.device_number}} | ID : {{infoArr.id_device}}</h4>
                            <div class="small text-muted">{{infoArr.toto}}</div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Content Row -->
            <div class="mt-3 row">
                <!-- Capteurs actifs Card  -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Statut
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">{{infoArr.status}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Capteurs inactifs Card  -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        batterie
                                    </div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{infoArr.lastBatteryLevel}} %</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Alertes Card  -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Dernier message enregistré</div>
                                    <div class="row no-gutters align-items-center">
                                        <div class="col-auto">
                                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                {{infoArr.lastMsgReceived}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Groupe Card  -->
                <div class="col-xl-3 col-md-6 mb-4">
                    <div class="card shadow h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col mr-2">
                                    <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                        Nombre total de message</div>
                                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                                        {{infoArr.nbreTotMsg}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Informations sensors sensors -->
        <div class="card-body">
            <h3 class="card-title">Information</h3>
            <div class="card shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="row device-info-container">
                                <div class="col-md-6 left-column">
                                    <div class="row card-row">
                                        <div class="extend-view-label col-md-5" title="groupe">Groupe
                                        </div>
                                        <div class="extend-view-value col-md-7" title="{{infoArr.groupe}}">
                                            {{infoArr.groupe}}
                                        </div>
                                    </div>
                                    <div class="row card-row">
                                        <div class="extend-view-label col-md-5" title="Date installation">Installé le
                                        </div>
                                        <div class="extend-view-value col-md-7" title="{{infoArr.date_installation}}">
                                            {{infoArr.date_installation}}</div>
                                    </div>
                                    <div class="row card-row">
                                        <div class="extend-view-label col-md-5" title="Device ID">
                                            Device ID
                                        </div>
                                        <div class="extend-view-value col-md-7" title="{{infoArr.id_device}}">
                                            {{infoArr.id_objenious}}</div>
                                    </div>
                                    <div class="row card-row">
                                        <div class="extend-view-label col-md-5" title="Deveui">Deveui
                                        </div>
                                        <div class="extend-view-value col-md-7" title="{{infoArr.deveui}}">
                                            {{infoArr.deveui}}</div>
                                    </div>

                                    <div class="row card-row">
                                        <div class="extend-view-label col-md-5" title="Firmware Version">Version
                                            firmware
                                        </div>
                                        <div class="extend-view-value col-md-7" title="{{infoArr.firmware}}">
                                            {{infoArr.firmware}}</div>
                                    </div>
                                    <div class="row card-row">
                                        <div class="extend-view-label col-md-5" title="Constructor">Constructeur
                                        </div>
                                        <div class="extend-view-value col-md-7" title="RTE">{{infoArr.constructor}}</div>
                                    </div>
                                </div>
                                <div class="col-md-6 right-column">
                                    <div align="center" id="deviceMap" style="height:200px;"></div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Activity sensors -->
        <div class="card-body">
            <div class="row mb-3">
                <div class="col-md-4">
                    <h3 class="card-title">Activités du capteur</h3>
                </div>
                <div class="col-md-4">
                    <button id="exportData" type="button"
                        class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                        onclick="window.open('/ControllerAccueil/downloadRawData?exportData=csv')"><i
                            class="fas fa-download fa-sm text-white-50"></i> Exporter données
                        (CSV)</button>
                </div>
            </div>
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Age</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <!-- Alert sensors -->
        <div class="card-body">
            <h3 class="card-title">Alertes relevées par le capteur</h3>
            <div class="table-responsive">
                <table id="tableDataAlerts" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <!--<table id="tableData" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">-->
                    <thead>
                        <tr>
                            <th>Début alerte</th>
                            <th>Type Alerte</th>
                            <th>Equipement</th>
                            <th>Ligne HT</th>
                            <th>Criticité</th>
                            <th>Valeur</th>
                            <th>Nom capteur</th>
                            <th>Statut</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in alerts_active_info_arr %}
                        <tr id="{{row.alert_id}}">
                            <td>{{ row.date_time }}</td>
                            <td>{{ row.label}}</td>
                            <td>{{ row.equipement_name }}></td>
                            <td>{{ row.ligneHT }}></td>
                            <td>{{ row.criticality }}></td>
                            <td>{{ row.valeur }}</td>
                            <td>{{ row.device_number }}</td>
                            <td>{{ row.status}}</td>
                            <td><a href="/ControllerAlert/deleteAlert?id_alert={{row.alert_id}}"><i
                                        class="far fa-trash-alt"></i></a>&nbsp
                                &nbsp
                                <a
                                    href="/ControllerAlert/updateAlert?id_alert={{row.alert_id}}&status_alert={{ row.status}}"><i
                                        class="fas fa-check"></i></a>{{ row.suivi}}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
              <!-- Alert historique sensors -->
              <div class="card-body">
                  <h3 class="card-title">Historique des alertes</h3>
                  <div class="table-responsive">
                      <table id="tableDataAlerts" class="table table-bordered" id="dataTable" width="100%"
                          cellspacing="0">
                          <!--<table id="tableData" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">-->
                          <thead>
                              <tr>
                                  <th>Début alerte</th>
                                  <th>Type Alerte</th>
                                  <th>Equipement</th>
                                  <th>Ligne HT</th>
                                  <th>Criticité</th>
                                  <th>Valeur</th>
                                  <th>Nom capteur</th>
                                  <th>Statut</th>
                                  <th>Action</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for row in alerts_active_info_arr %}
                              <tr id="{{row.alert_id}}">
                                  <td>{{ row.date_time }}</td>
                                  <td>{{ row.label}}</td>
                                  <td>{{ row.equipement_name }}></td>
                                  <td>{{ row.ligneHT }}></td>
                                  <td>{{ row.criticality }}></td>
                                  <td>{{ row.valeur }}</td>
                                  <td>{{ row.device_number }}</td>
                                  <td>{{ row.status}}</td>
                                  <td><a href="/ControllerAlert/deleteAlert?id_alert={{row.alert_id}}"><i
                                              class="far fa-trash-alt"></i></a>&nbsp
                                      &nbsp
                                      <a
                                          href="/ControllerAlert/updateAlert?id_alert={{row.alert_id}}&status_alert={{ row.status}}"><i
                                              class="fas fa-check"></i></a>{{ row.suivi}}
                                  </td>

                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
              </div>
    </div>

</div>

{% endblock %}

{% block script %}

<script>
    $(document).ready(function () {
        let data_map_json = JSON.parse('{{ data_map_array|raw}}');
       
        console.log(data_map_json);
        var map = L.map('deviceMap').setView([data_map_json.latitude_sensor,data_map_json.longitude_sensor], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
           maxZoom: 18,
           attribution: '<a href="https://flod.ai">Flod Sentiel</a>',
           id: 'mapbox.streets'
        }).addTo(map);



         if (data_map_json.longitude_sensor != null || data_map_json.latitude_sensor != null) {
         longitude_sensor = data_map_json.longitude_sensor;
         latitude_sensor = data_map_json.latitude_sensor;


         sensor_id = data_map_json.sensor_id;
         site = data_map_json.site;
         equipement = data_map_json.equipement;

         L.marker([latitude_sensor, longitude_sensor]).addTo(map)
         .bindPopup("<b>" + site + "</b><br />" + equipement).openPopup();
         }

    });
</script>

{% endblock %}