{% extends 'base.html' %}

{% block title %}Capteurs informations{% endblock %}

{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="row">
            <div class="col">
                <h1 class="h3 mb-0 text-gray-800">Capteur {{infoArr.device_number}}</h1>
            </div>
        </div>
    </div>

    <!-- Start Summary Informations sensor -->
    {% include "Sensors/viewSummaryInfoSensor.html" %}
    <!-- End Summary Informations sensor -->

    <!-- Start Alerts description sensor -->
    {% include "Sensors/viewSummaryAlertsSensor.html" %}
    <!-- End Alerts description sensor -->

    <!-- Start inclination charts sensor -->
    {% include "Sensors/viewInclinationCharts.html" %}
    <!-- End inclination charts sensor -->

    <!-- Start choc charts sensor -->
    {% include "Sensors/viewChocsCharts.html" %}
    <!-- End choc charts sensor -->

    <!-- Start Temperature charts sensor -->
    {% include "Sensors/viewTemperatureWidget.html" %}
    <!-- End Temperature charts sensor -->

    <!-- Start Activity raw sensor -->
    {% include "Sensors/viewActivitiesRawSensor.html" %}
    <!-- End Activity raw sensor -->


</div>



{% endblock %}

{% block script %}

<script>
    //var inclinometerRangeThresh = "{{ inclinometerRangeThresh|raw}}";
    let positionInstallation = '{{ positionInstallation|raw}}';
    var excludeAngle = '';
    if (positionInstallation == "horizontal") {
        excludeAngle = "z";
    } else if (positionInstallation == "vertical") {
        excludeAngle = "x";
    } else {
        excludeAngle = "z";
    }
    $(document).ready(function () {
        //Init datatables
        init_DataTableActivities();
        init_DataTableWeather();
        init_DataTableNewAlerts();
        init_DataTableProcessedAlerts();

        //Init date picker
        init_daterangepickerNbChoc();
        init_daterangepickerPowerChoc();

        //Init map
        let data_map_json = JSON.parse('{{ dataMapArray|raw}}');
        init_Map(data_map_json);


        //Settings
        let settingsArr = JSON.parse('{{ settingArr | raw }}');

        //Draw direction inclinometer
        let variationDirection = '{{ variationDirectionArr|raw}}';
        drawChartDirectionFromData(variationDirection, "chartDirectionInclinometer", settingsArr);
        //Draw speed variation
        let variationSpeed = '{{ variationSpeedDirectionArr|raw}}';
        drawChartSpeedVariationFromData(variationSpeed, "chartVitesseInclinometer");

        //Draw chart variation inclinometer absolute variation
        let inclinometerVariationDailyData = '{{ percentageVariationDayArr|raw}}';
        drawVariationChartAngleXYZFromData(inclinometerVariationDailyData, "chartVariationAngleInclinometer", false, excludeAngle);


        //Draw chart choc
        //Nb choc
        let nbChocDataMonth = '{{ nbChocDataMonthArr|raw}}';
        drawChartNbChocPerDate(nbChocDataMonth, "chartNbChoc");

        //Power
        let powerChocDataMonth = '{{ powerChocDataMonthArr|raw}}';
        drawChartPowerChocPerDateBar(powerChocDataMonth, "chartPowerChoc");

        //Draw temperature
        let historicalTemperatureData = '{{ historicalTemperatureDataArr|raw}}';
        drawChartHistoricalTemperature(historicalTemperatureData, "chartHistoricalTemperature");

    });


    $(document).on("click", "#radioButtonNbChoc", function (e) {
        e.preventDefault();

        let deveui = '{{infoArr.deveui}}';
        var lastXdays = $("input[name='options']:checked").val();

        removeElement("chartNbChoc");
        addElement("canvasNbchoc", "canvas", "chartNbChoc");
        if (lastXdays === "7") {
            let nbChocDataWeek = '{{ nbChocDataWeekArr|raw}}';
            drawChartNbChocPerDate(nbChocDataWeek, "chartNbChoc");
        }
        if (lastXdays === "30") {
            let nbChocDataMonth = '{{ nbChocDataMonthArr|raw}}';
            drawChartNbChocPerDate(nbChocDataMonth, "chartNbChoc");
        }
        if (lastXdays === "1") {
            let nbChocDataDay = '{{ nbChocDataDay|raw}}';
            drawChartNbChocPerDate(nbChocDataDay, "chartNbChoc");
        }

    });
    $(document).on("click", "#radioButtonPowerChoc", function (e) {
        e.preventDefault();
        let deveui = '{{infoArr.deveui}}';
        var lastXdays = $("input[name='options']:checked").val();

        removeElement("chartPowerChoc");
        addElement("canvasPowerchoc", "canvas", "chartPowerChoc");
        if (lastXdays === "7") {
            let nbPowerDataWeek = '{{ powerChocDataWeekArr|raw}}';
            //console.log("Week : ", nbPowerDataWeek);
            drawChartPowerChocPerDateBar(nbPowerDataWeek, "chartPowerChoc");
        }
        if (lastXdays === "30") {
            let nbPowerDataMonth = '{{ powerChocDataMonthArr|raw}}';
            //console.log("Month :", nbPowerDataMonth);
            drawChartPowerChocPerDateBar(nbPowerDataMonth, "chartPowerChoc");
        }
        if (lastXdays === "1") {
            let nbPowerDataDay = '{{ powerChocDataDayArr|raw}}';
            //console.log("Day :", nbPowerDataDay);
            drawChartPowerChocPerDateBar(nbPowerDataDay, "chartPowerChoc");
        }

    });
    $(document).on("click", "#radioButtonPercentageVariationInclinometer", function (e) {
        e.preventDefault();
        let deveui = '{{infoArr.deveui}}';
        var lastXdays = $("input[name='options']:checked").val();

        removeElement("chartVariationAngleInclinometer");
        addElement("canvasVariationInclinometer", "canvas", "chartVariationAngleInclinometer");
        if (lastXdays === "7") {
            let inclinometerVariationWeeklyData = '{{ percentageVariationWeekArr|raw}}';
            console.log("Data :", inclinometerVariationWeeklyData);
            drawVariationChartAngleXYZFromData(inclinometerVariationWeeklyData, "chartVariationAngleInclinometer", false, excludeAngle);
        }
        if (lastXdays === "30") {
            let inclinometerVariationMonthlyData = '{{ percentageVariationMonthArr|raw}}';
            console.log("Data :", inclinometerVariationMonthlyData);
            drawVariationChartAngleXYZFromData(inclinometerVariationMonthlyData, "chartVariationAngleInclinometer", false, excludeAngle);

        }
        if (lastXdays === "1") {
            let inclinometerVariationDailyData = '{{ percentageVariationDayArr|raw}}';
            console.log("Data :", inclinometerVariationDailyData);
            drawVariationChartAngleXYZFromData(inclinometerVariationDailyData, "chartVariationAngleInclinometer",
                false, excludeAngle);
        }

    });


    function fetchChartNbChoc(startDate, endDate) {
        let formData = new FormData();
        let deveui = '{{infoArr.deveui}}';
        formData.append('startDate', startDate);
        formData.append('endDate', endDate);
        formData.append('deveui', deveui);

        let xhttp;
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let jsonData = this.responseText;
                console.log("Data return : ", jsonData);
                removeElement("chartNbChoc");
                addElement("canvasNbchoc", "canvas", "chartNbChoc");
                let nbChocData = jsonData;
                drawChartNbChocPerDate(nbChocData, "chartNbChoc");


            }
        };
        xhttp.open("POST", "/ControllerSensors/getChartDataNbChoc", true);
        xhttp.send(formData);
    }

    function fetchChartPowerChoc(startDate, endDate) {
        let formData = new FormData();
        let deveui = '{{infoArr.deveui}}';
        formData.append('startDate', startDate);
        formData.append('endDate', endDate);
        formData.append('deveui', deveui);

        let xhttp;
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let jsonData = this.responseText;

                removeElement("chartPowerChoc");
                addElement("canvasPowerchoc", "canvas", "chartPowerChoc");
                let powerChocData = jsonData;
                drawChartPowerChocPerDateBar(powerChocData, "chartPowerChoc");


            }
        };
        xhttp.open("POST", "/ControllerSensors/getChartDataPowerChoc", true);
        xhttp.send(formData);
    }


    /* MAP  */
    function init_Map(data_map_json) {

        var map = L.map('deviceMap').setView([data_map_json.latitude_sensor, data_map_json
            .longitude_sensor
        ],
            13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: '<a href="https://flod.ai">Flod Sentiel</a>',
            id: 'mapbox.streets'
        }).addTo(map);


        if (data_map_json.longitude_sensor != null || data_map_json.latitude_sensor != null) {
            longitude_sensor = data_map_json.longitude_sensor;
            latitude_sensor = data_map_json.latitude_sensor;


            sensor_id = data_map_json.sensor_id;
            site = data_map_json.site;
            equipement = data_map_json.equipement;

            L.marker([latitude_sensor, longitude_sensor]).addTo(map)
                .bindPopup("<b>" + site + "</b><br />" + equipement).openPopup();
        }

    }

    /* DATATABLE */

    function init_DataTableActivities() {

        $('#tableDataActivitySensor').DataTable({
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, 'All']
            ],
            "iDisplayLength": 10
        });

    }

    function init_DataTableWeather() {

        $('#tableDataWeather').DataTable({
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, 'All']
            ],
            "iDisplayLength": 10,
            "order": [[0, "desc"]]
        });


    }

    function init_DataTableNewAlerts() {
        $('#tableDataNewAlerts').DataTable({
            responsive: true,
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            "createdRow": function (row, data, dataIndex, cells) {
                var type_raw_message = data[1];
                var statut = data[8];
                console.log("Statut coucou :", statut);
                if (statut == "1") {
                    cells[8].innerText = "En cours";
                } else {
                    cells[8].innerText = "Traité";
                }
                switch (type_raw_message) {
                    case 'ChangeStatusInactive':
                        cells[1].innerText = "Inactif";
                        break;
                    case 'ChangeStatusActive':
                        cells[1].innerText = "Actif";
                        break;
                    case 'ChangeStatusError':
                        cells[1].innerText = "Erreur";
                        break;
                    case 'high_choc':
                        cells[1].innerText = "Choc important";
                        break;
                    default:
                        break;
                }
            },
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, 'All']
            ],
            "iDisplayLength": 20
        });

    }

    function init_DataTableProcessedAlerts() {
        $('#tableDataProcessedAlerts').DataTable({
            responsive: true,
            responsive: {
                details: {
                    type: 'column',
                    target: 'tr'
                }
            },
            "createdRow": function (row, data, dataIndex, cells) {
                var type_raw_message = data[1];
                var statut = data[8];
                if (statut == "1") {
                    cells[8].innerText = "En cours";
                } else {
                    cells[8].innerText = "Traité";
                }
                switch (type_raw_message) {
                    case 'ChangeStatusInactive':
                        cells[1].innerText = "Inactif";
                        break;
                    case 'ChangeStatusActive':
                        cells[1].innerText = "Actif";
                        break;
                    case 'ChangeStatusError':
                        cells[1].innerText = "Erreur";
                        break;
                    case 'high_choc':
                        cells[1].innerText = "Choc important";
                        break;
                    default:
                        break;
                }
            },
            "lengthMenu": [
                [10, 25, 50, -1],
                [10, 25, 50, 'All']
            ],
            "iDisplayLength": 20
        });

    }

    /* DATERANGEPICKER */
    function init_daterangepickerNbChoc() {
        moment.locale('fr');
        if (typeof ($.fn.daterangepicker) === 'undefined') {
            return;
        }

        var cb = function (start, end, label) {
            //console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrangeNbchoc span').html(start.format('L') + ' - ' + end.format('L'));
        };

        var optionSet = {
            minDate: '{{firstActivity}}',
            maxDate: '{{lastActivity}}',
            startDate: '{{firstActivity}}',
            endDate: '{{lastActivity}}',
            dateLimit: {
                days: 60
            },
            showDropdowns: true,
            showWeekNumbers: true,
            ranges: {
                'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Dernier 7 jours': [moment().subtract(6, 'days'), moment()],
                'Dernier 30 Jours': [moment().subtract(29, 'days'), moment()],
                'Ce mois': [moment().startOf('month'), moment().endOf('month')]
            },
            opens: 'left',
            buttonClasses: ['btn btn-default'],
            applyClass: 'btn-small btn-primary',
            cancelClass: 'btn-small',
            format: 'DD/MM/YYYY',
            separator: ' à ',
            locale: {
                applyLabel: 'Appliquer',
                cancelLabel: 'Annuler',
                fromLabel: 'De',
                toLabel: 'à',
                customRangeLabel: 'Specifique',
                daysOfWeek: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'juin', 'Juillet', 'Août',
                    'Septembre', 'Octobre', 'Novembre', 'Décembre'
                ],
                firstDay: 1
            }
        }

        $('#reportrangeNbchoc').daterangepicker(optionSet, cb);

        $('#reportrangeNbchoc').on('apply.daterangepicker', function (ev, picker) {
            startDate = picker.startDate.format('YYYY-MM-DD');
            endDate = picker.endDate.format('YYYY-MM-DD');;
            let diffDays = picker.endDate.diff(picker.startDate, 'days');
            console.log('Selection start : ', startDate);
            console.log("Selection end : ", endDate);
            fetchChartNbChoc(startDate, endDate);

        });
        $('#reportrangeNbchoc').on('cancel.daterangepicker', function (ev, picker) {
            startDate = '';
            endDate = '';
            $('#reportrangeNbchoc span').html(startDate + ' - ' + endDate);
        });

        $('#reportrangeNbchoc').on('show.daterangepicker', function () {
            let firstActivity = '{{firstActivity}}';
            let lastActivity = '{{lastActivity}}';
            console.log('First Activity : ', firstActivity);
            console.log("Last Activity : ", lastActivity);
        });
    }

    function init_daterangepickerPowerChoc() {
        moment.locale('fr');
        if (typeof ($.fn.daterangepicker) === 'undefined') {
            return;
        }

        var cb = function (start, end, label) {
            //console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrangePowerchoc span').html(start.format('L') + ' - ' + end.format('L'));
        };

        var optionSet = {
            minDate: '{{firstActivity}}',
            maxDate: '{{lastActivity}}',
            startDate: '{{firstActivity}}',
            endDate: '{{lastActivity}}',
            dateLimit: {
                days: 60
            },
            showDropdowns: true,
            showWeekNumbers: true,
            ranges: {
                'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Dernier 7 jours': [moment().subtract(6, 'days'), moment()],
                'Dernier 30 Jours': [moment().subtract(29, 'days'), moment()],
                'Ce mois': [moment().startOf('month'), moment().endOf('month')]
            },
            opens: 'left',
            buttonClasses: ['btn btn-default'],
            applyClass: 'btn-small btn-primary',
            cancelClass: 'btn-small',
            format: 'DD/MM/YYYY',
            separator: ' à ',
            locale: {
                applyLabel: 'Appliquer',
                cancelLabel: 'Annuler',
                fromLabel: 'De',
                toLabel: 'à',
                customRangeLabel: 'Specifique',
                daysOfWeek: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'juin', 'Juillet', 'Août',
                    'Septembre', 'Octobre', 'Novembre', 'Décembre'
                ],
                firstDay: 1
            }
        }

        $('#reportrangePowerchoc').daterangepicker(optionSet, cb);

        $('#reportrangePowerchoc').on('apply.daterangepicker', function (ev, picker) {
            startDate = picker.startDate.format('YYYY-MM-DD');
            endDate = picker.endDate.format('YYYY-MM-DD');;
            let diffDays = picker.endDate.diff(picker.startDate, 'days');
            fetchChartPowerChoc(startDate, endDate);

        });
        $('#reportrangePowerchoc').on('cancel.daterangepicker', function (ev, picker) {
            startDate = '';
            endDate = '';
            $('#reportrangePowerchoc span').html(startDate + ' - ' + endDate);
        });

        $('#reportrangePowerchoc').on('show.daterangepicker', function () {
            let firstActivity = '{{firstActivity}}';
            let lastActivity = '{{lastActivity}}';
        });
    }
</script>

{% endblock %}