{% extends 'base.html' %}

{% block title %}Capteurs informations{% endblock %}

{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <div class="row">
            <div class="col">
                <h1 class="h3 mb-0 text-gray-800">Capteur {{infoArr.device_number}}</h1>
            </div>
        </div>

    </div>

    {% include "Sensors/viewInclinometerWidgets.html" %}
    {% include "Sensors/viewChocsCharts.html" %}

    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Information</h3>
            <div class="d-flex justify-content-between">
                <div>
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title mb-0">{{ infoArr.site }} | {{ infoArr.equipement }} |
                                {{ infoArr.ligneHT }} | Capteur n°
                                {{infoArr.device_number}} | ID : {{infoArr.id_device}}</h4>
                            <div class="small text-muted">{{infoArr.toto}}</div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Widget sensors -->
            <div class="mt-3 row">
                <!-- Statut s Card  -->
                <div class="col-xl-3 col-md-6 mb-4">
                    {% if infoArr.status == "inactive" %}
                    <div class="card border-left-danger shadow h-100 py-2">
                        {% elseif infoArr.status == "active" %}
                        <div class="card border-left-success shadow h-100 py-2">
                            {% endif %}
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Statut
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{infoArr.status}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Capteurs inactifs Card  -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">batterie
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{infoArr.lastBatteryLevel}}
                                            %</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Alertes Card  -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Dernier
                                            message enregistré</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                                    {{infoArr.lastMsgReceived}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Groupe Card  -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            Nombre total de message</div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                                            {{infoArr.nbreTotMsg}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Informations sensors -->
            <div class="card-body">
                <h3 class="card-title">Information</h3>
                {% include "Sensors/viewInformationsSensor.html" %}
            </div>
            <!-- Activity sensors -->
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-4">
                        <h3 class="card-title">Activités du capteur</h3>
                    </div>
                    <div class="col-md-4">
                        <button id="exportData" type="button"
                            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                            onclick="window.open('/ControllerSensors/downloadActivityData?exportDataFormat=excel&deveui={{infoArr.deveui}}')"><i
                                class="fas fa-download fa-sm text-white-50"></i> Télécharger les données
                            (Excel)</button>
                    </div>
                    <div class="col-md-4">
                        <button id="exportData" type="button"
                            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
                            onclick="window.open('/ControllerSensors/downloadActivityData?exportDataFormat=csv&deveui={{infoArr.deveui}}')"><i
                                class="fas fa-download fa-sm text-white-50"></i> Télécharger les données
                            (Csv)</button>
                    </div>
                </div>
                {% include "Sensors/viewTableActivityData.html" %}

            </div>
            <!-- Alert sensors -->
            <div class="card-body">
                <h3 class="card-title">Alertes relevées par le capteur</h3>
                {% for message in flash_alerts %}
                <div class="alert alert-{{ message.type }}" role="alert">
                    {{ message.body }}
                </div>
                {% endfor %}
                {% include "Sensors/viewTableDataNewAlerts.html" %}
            </div>
            <!-- Alert historique sensors -->
            <div class="card-body">
                <h3 class="card-title">Historique des alertes</h3>
                {% include "Sensors/viewTableDataOldAlerts.html" %}
            </div>
        </div>


    </div>

    {% endblock %}

    {% block script %}

    <script>
        $(document).ready(function () {
            init_daterangepicker();


            let data_map_json = JSON.parse('{{ dataMapArray|raw}}');

            console.log(data_map_json);
            var map = L.map('deviceMap').setView([data_map_json.latitude_sensor, data_map_json
                    .longitude_sensor
                ],
                13);

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: '<a href="https://flod.ai">Flod Sentiel</a>',
                id: 'mapbox.streets'
            }).addTo(map);



            if (data_map_json.longitude_sensor != null || data_map_json.latitude_sensor != null) {
                longitude_sensor = data_map_json.longitude_sensor;
                latitude_sensor = data_map_json.latitude_sensor;


                sensor_id = data_map_json.sensor_id;
                site = data_map_json.site;
                equipement = data_map_json.equipement;

                L.marker([latitude_sensor, longitude_sensor]).addTo(map)
                    .bindPopup("<b>" + site + "</b><br />" + equipement).openPopup();
            }

            $('#tableDataActivitySensor').DataTable({
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, 'All']
                ],
                "iDisplayLength": 10
            });

            //Draw chart inclinometer monthly
            let inclinometerDataMonth = '{{ inclinometerDataMonthArr|raw}}';
            drawChartAngleXYZFromData(inclinometerDataMonth, "chartAngleInclinometer");

            //Draw chart variation inclinometer percentage
            let inclinometerVariationDailyData = '{{ percentageVariationDayArr|raw}}';
            drawVariationChartAngleXYZFromData(inclinometerVariationDailyData, "chartVariationAngleInclinometer");
            
            
            //Draw chart choc
            //Nb choc
            let nbChocDataMonth = '{{ nbChocDataMonthArr|raw}}';
            drawChartNbChocPerDate(nbChocDataMonth, "chartNbChoc");

            //Power
            let powerChocDataMonth = '{{ powerChocDataMonthArr|raw}}';
            drawChartPowerChocPerDateBar(powerChocDataMonth, "chartPowerChoc");

        });

        //When the user want to change the date for displaying the chart concerning the power of choc
        // Day, week or month
        $(document).on("click", "#radioButtonInclinometer", function (e) {
            e.preventDefault();
            let deveui = '{{infoArr.deveui}}';
            var lastXdays = $("input[name='options']:checked").val();

            removeElement("canvasInclinometer");
            addElement("canvasInclinometer", "canvas", "chartAngleInclinometer");
            if (lastXdays === "7") {
                let inclinometerDataWeek = '{{ inclinometerDataWeekArr|raw}}';
                drawChartAngleXYZFromData(inclinometerDataWeek, "chartAngleInclinometer");
            }
            if (lastXdays === "30") {
                let inclinometerDataMonth = '{{ inclinometerDataMonthArr|raw}}';
                drawChartAngleXYZFromData(inclinometerDataMonth, "chartAngleInclinometer");
            }

        });

        $(document).on("click", "#radioButtonNbChoc", function (e) {
            e.preventDefault();
            let deveui = '{{infoArr.deveui}}';
            var lastXdays = $("input[name='options']:checked").val();

            removeElement("chartNbChoc");
            addElement("canvasNbchoc", "canvas", "chartNbChoc");
            if (lastXdays === "7") {
                let nbChocDataWeek = '{{ nbChocDataWeekArr|raw}}';
                drawChartNbChocPerDate(nbChocDataWeek, "chartNbChoc");
            }
            if (lastXdays === "30") {
                let nbChocDataMonth = '{{ nbChocDataMonthArr|raw}}';
                drawChartNbChocPerDate(nbChocDataMonth, "chartNbChoc");
            }
            if (lastXdays === "1") {
                let nbChocDataDay = '{{ nbChocDataDay|raw}}';
                drawChartNbChocPerDate(nbChocDataDay, "chartNbChoc");
            }

        });
        $(document).on("click", "#radioButtonPowerChoc", function (e) {
            e.preventDefault();
            let deveui = '{{infoArr.deveui}}';
            var lastXdays = $("input[name='options']:checked").val();

            removeElement("chartPowerChoc");
            addElement("canvasPowerchoc", "canvas", "chartPowerChoc");
            if (lastXdays === "7") {
                let nbPowerDataWeek = '{{ powerChocDataWeekArr|raw}}';
                console.log(nbPowerDataWeek);
                drawChartPowerChocPerDateBar(nbPowerDataWeek, "chartPowerChoc");
            }
            if (lastXdays === "30") {
                let nbPowerDataMonth = '{{ powerChocDataMonthArr|raw}}';
                console.log(nbPowerDataMonth);
                drawChartPowerChocPerDateBar(nbPowerDataMonth, "chartPowerChoc");
            }
            if (lastXdays === "1") {
                let nbPowerDataDay = '{{ powerChocDataDayArr|raw}}';
                console.log(nbPowerDataDay);
                drawChartPowerChocPerDateBar(nbPowerDataDay, "chartPowerChoc");
            }

        });

        $(document).on("click", "#radioButtonPercentageVariationInclinometer", function (e) {
            e.preventDefault();
            let deveui = '{{infoArr.deveui}}';
            var lastXdays = $("input[name='options']:checked").val();

            removeElement("chartVariationAngleInclinometer");
            addElement("canvasVariationInclinometer", "canvas", "chartVariationAngleInclinometer");
            if (lastXdays === "7") {
                let inclinometerVariationWeeklyData = '{{ percentageVariationWeekArr|raw}}';
                drawVariationChartAngleXYZFromData(inclinometerVariationWeeklyData,"chartVariationAngleInclinometer");
            }
            if (lastXdays === "30") {
                let inclinometerVariationMonthlyData = '{{ percentageVariationMonthArr|raw}}';
                drawVariationChartAngleXYZFromData(inclinometerVariationMonthlyData, "chartVariationAngleInclinometer");

            }
            if (lastXdays === "1") {
                 let inclinometerVariationDailyData = '{{ percentageVariationDayArr|raw}}';
                 drawVariationChartAngleXYZFromData(inclinometerVariationDailyData,"chartVariationAngleInclinometer");
            }

        });
        
        /* DATERANGEPICKER */

    function init_daterangepicker() {
        console.log("init date picker");
        moment.locale('fr');
        if (typeof ($.fn.daterangepicker) === 'undefined') {
            return;
        }

        var cb = function (start, end, label) {
            //console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrangeNbchoc span').html(start.format('L') + ' - ' + end.format('L'));
        };

        var optionSet = {
            minDate: '{{firstActivity}}',
            maxDate: '{{lastActivity}}',
            startDate: '{{firstActivity}}',
            endDate:'{{lastActivity}}',
            dateLimit: {
            days: 60
            },
            showDropdowns: true,
            showWeekNumbers: true,
            ranges: {
                'Hier': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Dernier 7 jours': [moment().subtract(6, 'days'), moment()],
                'Dernier 30 Jours': [moment().subtract(29, 'days'), moment()],
                'Ce mois': [moment().startOf('month'), moment().endOf('month')]
            },
            opens: 'left',
            buttonClasses: ['btn btn-default'],
            applyClass: 'btn-small btn-primary',
            cancelClass: 'btn-small',
            format: 'DD/MM/YYYY',
            separator: ' à ',
            locale: {
                applyLabel: 'Appliquer',
                cancelLabel: 'Annuler',
                fromLabel: 'De',
                toLabel: 'à',
                customRangeLabel: 'Specifique',
                daysOfWeek: ['Di', 'Lu', 'Ma', 'Me', 'Je', 'Ve', 'Sa'],
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'juin', 'Juillet', 'Août',
                    'Septembre', 'Octobre', 'Novembre', 'Décembre'
                ],
                firstDay: 1
            }
        }

        $('#reportrangeNbchoc').daterangepicker(optionSet, cb);

        $('#reportrangeNbchoc').on('apply.daterangepicker', function (ev, picker) {
            startDate = picker.startDate.format('YYYY-MM-DD');
            endDate = picker.endDate.format('YYYY-MM-DD');;
            let diffDays = picker.endDate.diff(picker.startDate, 'days');
            
        });
        $('#reportrangeNbchoc').on('cancel.daterangepicker', function (ev, picker) {
            startDate = '';
            endDate = '';
            $('#reportrangeNbchoc span').html(startDate + ' - ' + endDate);
        });

        $('#reportrangeNbchoc').on('show.daterangepicker', function () {
            let firstActivity = '{{firstActivity}}';
            let lastActivity = '{{lastActivity}}';
            console.log(firstActivity);
            console.log(lastActivity);
        });
    }
    </script>

    {% endblock %}