{# viewTemperatureWidget.html #}

<div class="card">

    <div class="card-body">
        <h3 class="m-0 font-weight-bold text-primary text-center mb-5">Suivi de la température</h3>

        <div class="row">
            <div class="col md-12">
                <div id=" canvasTemperature" class="chart-area">
                    <canvas id="chartTemperature"></canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col md-12">
                <div id="canvasHistoricalTemperature" class="chart-area">
                    <canvas id="chartHistoricalTemperature"></canvas>
                </div>
            </div>
        </div>
        <!--<h3 class="m-0 font-weight-bold text-primary text-center mb-5">Prévision</h3>-->
        <div class="row">
            <div class="col md-12">
                <!-- the DIV that will contain the widget -->
                <div class="weatherForecastWidget"></div>
            </div>
        </div>
    </div>

</div>