{# ViewTableSensors.html #}

<div class="table-responsive">
    <table id="tableDataSensors" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <!--<table id="dataTable" class="display" style="width:100%">-->
        <thead>
            <tr>
                <th>Numéro du capteur</th>
                <th>Groupe</th>
                <th>Site</th>
                <th>Equipement associé</th>
                <th>Status</th>
                <th>Dernier message reçu</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for row in info_sensors_array %}
            <tr>
                <td>{{ row.device_number }}</td>
                <td>{{ row.groupe }}</td>
                <td>{{ row.site }}</td>
                <td> {{ row.ligneHT }}</td>
                <td> {{ row.status }}</td>
                <td> {{ row.last_message_received }}</td>
                <td><a href="/device/{{row.device_number}}/info" id="viewSensor{{row.sensor_id}}"
                        name="download">Voir</a>
                </td>

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>