{# viewChocsCharts.html #}

<div class="card">

    <div class="card-body">
        <h3 class="m-0 font-weight-bold text-primary text-center mb-5">Suivi des chocs</h3>
        <!-- CHART CHOC  -->
        <div class="row  justify-content-center">
            <div class="col-sm-6">
                <!-- Nombre de choc par jour Chart -->
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex justify-content-center">
                        <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
                            <div class="row">

                                <div class="col md-6 mb-3">
                                    <div id="reportrangeNbchoc" class="browser-default custom-select">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        <span>Dates spécifiques</span>
                                        <!-- <span>December 30, 2014 - January 28, 2015</span>-->
                                    </div>
                                </div>
                                <div class="col md-6">
                                    <div id="radioButtonNbChoc" class="btn-group btn-group-toggle mx-3"
                                        data-toggle="buttons">
                                        <label class="btn btn-outline-secondary">
                                            <input id="option1" type="radio" name="options" value="1"
                                                autocomplete="off"> Dernier jour
                                        </label>
                                        <label class="btn btn-outline-secondary">
                                            <input id="option2" type="radio" name="options" autocomplete="off" value="7"
                                                > Dernière semaine
                                        </label>
                                        <label class="btn btn-outline-secondary active">
                                            <input id="option3" type="radio" name="options" autocomplete="off"
                                                value="30" checked=""> Dernier mois
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="canvasNbchoc" class="chart-area">
                        <canvas id="chartNbChoc"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- Puissance de choc par jour Chart -->
                <div class="card mb-4">
                    <div class="card-header py-3 d-flex justify-content-between">
                        <div class="btn-toolbar d-none d-md-block" role="toolbar" aria-label="Toolbar with buttons">
                            <div class="row">
                            <div class="col md-6 mb-3">
                                <div id="reportrangePowerchoc" class="browser-default custom-select">
                                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        <span>Dates spécifiques</span>
                                        <!-- <span>December 30, 2014 - January 28, 2015</span>-->
                                    </div>
                            </div>
                            <div class="col md-6">
                                <div id="radioButtonPowerChoc" class="btn-group btn-group-toggle mx-3"
                                    data-toggle="buttons">
                                    <label class="btn btn-outline-secondary">
                                        <input id="option1" type="radio" name="options" value="1" autocomplete="off">
                                        Dernier jour
                                    </label>
                                    <label class="btn btn-outline-secondary">
                                        <input id="option2" type="radio" name="options" autocomplete="off" value="7"
                                            > Dernière semaine
                                    </label>
                                    <label class="btn btn-outline-secondary active">
                                        <input id="option3" type="radio" name="options" autocomplete="off" value="30"
                                            checked="">
                                        Dernier mois
                                    </label>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div id="canvasPowerchoc" class="chart-area">
                        <canvas id="chartPowerChoc"></canvas>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>