{# viewTableActivityData.html #}

<div class="table-responsive">
    <table id="tableDataActivitySensor" class="display compact" style="width:100%">
        <thead>
            <tr>
                <th>Capteur</th>
                <th>Date mesure</th>
                <th>Type</th>
                <th>batterie %</th>
                <th>Température °C</th>
                <th>Inclinaison X °</th>
                <th>Inclinaison Y °</th>
                <th>Inclinaison Z °</th>
                <th>Amplitude 1 g</th>
                <th>Frequence 1 Hz</th>
                <th>Amplitude 2 g</th>
                <th>Frequence 2 Hz</th>
                <th>Puissance G</th>
            </tr>
        </thead>
        <tbody>
            {% for row in recordRawArr %}
            <tr>
                <td>{{row.sensor_label}}</td>
                <td>{{row.date_mesure}}</td>
                <td>{{row.type}}</td>
                <td>{{row.battery}}</td>
                <td>{{row.temperature}}</td>
                <td>{{row.inclinaison_x}}</td>
                <td>{{row.inclinaison_y}}</td>
                <td>{{row.inclinaison_z}}</td>
                <td>{{row.amplitude_1}}</td>
                <td>{{row.freq_1}}</td>
                <td>{{row.amplitude_2}}</td>
                <td>{{row.freq_2}}</td>
                <td>{{row.power}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>