{# viewTableDataNewAlerts.html #}

<div class="card shadow h-100 py-2">
    <div class="card-body">
        <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <div class="row device-info-container">
                    <div class="col-md-5">
                        <div class="row card-row">
                            <div class="extend-view-label col-md-5" title="groupe">Groupe
                            </div>
                            <div class="extend-view-value col-md-7" title="{{infoArr.groupe}}">
                                {{infoArr.groupe}}
                            </div>
                        </div>
                        <div class="row card-row">
                            <div class="extend-view-label col-md-5" title="Date installation">Installé le
                            </div>
                            <div class="extend-view-value col-md-7" title="{{infoArr.date_installation}}">
                                {{infoArr.date_installation}}</div>
                        </div>
                        <div class="row card-row">
                            <div class="extend-view-label col-md-5" title="Device ID">
                                Device ID
                            </div>
                            <div class="extend-view-value col-md-7" title="{{infoArr.id_device}}">
                                {{infoArr.id_objenious}}</div>
                        </div>
                        <div class="row card-row">
                            <div class="extend-view-label col-md-5" title="Deveui">Deveui
                            </div>
                            <div class="extend-view-value col-md-7" title="{{infoArr.deveui}}">
                                {{infoArr.deveui}}</div>
                        </div>

                        <div class="row card-row">
                            <div class="extend-view-label col-md-5" title="Firmware Version">Version
                                firmware
                            </div>
                            <div class="extend-view-value col-md-7" title="{{infoArr.firmware}}">
                                {{infoArr.firmware}}</div>
                        </div>
                        <div class="row card-row">
                            <div class="extend-view-label col-md-5" title="Firmware Version">Version
                                hardware
                            </div>
                            <div class="extend-view-value col-md-7" title="{{infoArr.firmware}}">
                                {{infoArr.hardware}}</div>
                        </div>
                        <div class="row card-row">
                            <div class="extend-view-label col-md-5" title="Constructor">Constructeur
                            </div>
                            <div class="extend-view-value col-md-7" title="RTE">{{infoArr.constructor}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div align="center" id="deviceMap" style="height:200px;"></div>
                    </div>
                    <div class="cold-md-4">
                        <!-- weather widget -->
                        <div class="weather-card">
                            <div class="weather-icon
                            {% if 'clear-day' in weatherDataArr.icon %}sun
                            {% elseif  'rain' in weatherDataArr.icon  %}rain
                            {% elseif  'cloudy' in weatherDataArr.icon  %}cloud
                            {% else %}
                            cloud
                            {% endif %}"></div>
                            <h1>{{weatherDataArr.temperature}}º</h1>
                            <p id="site_weather">{{ infoArr.site }}</p>
                            <p id="summaryText">{{weatherDataArr.summary}}</p>
                            <p id="wind">Vent : {{weatherDataArr.windSpeed}} km/h </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>