<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <base href="/">
  <!-- Script Bootstrap and jquery -->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/jquery-validation/jquery.validate.min.js"></script>

<script src="public/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="public/vendor/datatables/jquery.dataTables.min.js"></script>

  <!-- Bootstrap core CSS -->
 <link rel="stylesheet" href="public/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/style.css">
  <link rel="stylesheet" href="public/css/login.css">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>

  {% block body %}
  {% endblock %}

  {% block script %}
  {% endblock %}

  <div class="footer">
    &copy; <?php print date("Y");?>
  </div>

</body>


</html>
