<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <base href="/">

  <!-- Include JS header -->
  {% include "Partials/_jsheader.html" %}

  <!-- Include CSS header -->
  {% include "Partials/_cssheader.html" %}

  <!-- CSS for specific page -->
  {% block extra_css %}{% endblock %}

  <title>{% block title %}{% endblock %}</title>

</head>

<body id="page-top">

  <div id="wrapper" class="toggled">
    <!-- Sidebar -->
    {% include "Partials/_sidebar.html" %}
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        {% include "Partials/_topbar.html" %}
        <!-- End of Topbar -->

        <a href="#" id="scroll" style="display: none;"><span></span></a>
        {% for message in flash_messages %}
        <div class="alert alert-{{ message.type }}">
          {{ message.body }}
        </div>
        {% endfor %}

        {% block body %}
        {% endblock %}

        {% block script %}
        {% endblock %}
      </div>

      <!-- Footer -->
      {% include "Partials/_footer.html" %}


    </div>


    {% include "Partials/_jsfooter.html" %}
    <!-- JS for specific page -->
    {% block extra_js %}{% endblock %}
</body>

<script>
  $(document).ready(function () {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 100) {
        $('#scroll').fadeIn();
      } else {
        $('#scroll').fadeOut();
      }
    });
    $('#scroll').click(function () {
      $("html, body").animate({ scrollTop: 0 }, 600);
      return false;
    });
  });

</script>

</html>