<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <base href="/">
  <!-- Script Bootstrap and jquery -->
  <script src="public/vendor/jquery/jquery.min.js"></script>
  <script src="public/vendor/jquery-validation/jquery.validate.min.js"></script>

  <script src="public/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="public/vendor/datatables/jquery.dataTables.min.js"></script>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="public/vendor/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/style.css">
  <link rel="stylesheet" href="public/css/login.css">

  <!-- Custom fonts for this template-->
  <link href="public/vendor/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <!--<link href="public/css/sentive-admin.min.css" rel="stylesheet"> -->
  <title>{% block title %}{% endblock %}</title>
</head>

<body>

  {% block body %}
  {% endblock %}

  {% block script %}
  {% endblock %}

  <div class="footer">
    &copy; <?php print date("Y");?>
  </div>

</body>


</html>