{% extends 'base.html' %}

{% block title %}Support{% endblock %}

{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Support</h1>
    </div>
    <form class="card">
        <div class="card-body">
            <h3 class="card-title">Demande d'aide</h3>

            <p>Pour toute demande d'aide ou quelconque information, merci d'envoyer un mail 
                à <b>contact@flod.ai</b></p>

        </div>
    </form>


</div>

{% endblock %}

{% block script %}

<script>

</script>

{% endblock %}