{% extends 'base.html' %}

{% block title %}Setting{% endblock %}

{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <div class="card">
        <form role="form" action="/ControllerProfile/update" method="post" name="profileform">
        <div class="card-body">
            <h3 class="card-title">Editer le profil</h3>

            <div class="row">
                <div class="col-md-5">
                    <div class="mb-2">
                        <label class="form-label">Entreprise</label>
                        <input type="text" class="form-control" disabled="" placeholder="Entreprise"
                            value="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mb-2">
                        <label class="form-label">Pseudo</label>
                        <input type="text" class="form-control" placeholder="Pseudo" value="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-2">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-2">
                        <label class="form-label">Prenom</label>
                        <input type="text" class="form-control" placeholder="Prenom" value="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-2">
                        <label class="form-label">Nom de famille</label>
                        <input type="text" class="form-control" placeholder="Nom de famille" value="">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-2">
                        <label class="form-label">Addresse</label>
                        <input type="text" class="form-control" placeholder="Adresse" value="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-2">
                        <label class="form-label">Ville</label>
                        <input type="text" class="form-control" placeholder="Ville" value="">
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="mb-2">
                        <label class="form-label">Code postale</label>
                        <input type="number" class="form-control" placeholder="Code postale">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mb-2">
                        <label class="form-label">Pays</label>
                        <select class="browser-default custom-select">
                            <option value="Fr">France</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="submit" class="btn btn-primary">Mettre à jour le profil</button>
        </div>
        </form>
    </div>


</div>

{% endblock %}

{% block script %}

<script>

</script>

{% endblock %}